

--INSERT INTO [dbo].[delinquency_snapshot]
           ([LOAN NUMBER]
           ,[OLD LOAN NUMBER]
           ,[INVESTOR ID]
           ,[ARM INDICATOR]
           ,[LO TYPE]
           ,[ORIGINAL LO TYPE]
           ,[FIRST PRINCIPAL BALANCE]
           ,[FIRST P AND I AMOUNT]
           ,[SUSPENSE BALANCE]
           ,[LOAN LOSS MIT STATUS CODE]
           ,[MAN CODE]
           ,[MSP DLQ STATUS]
           ,[MTH STATUS NAME]
           ,[NEXT PAYMENT DUE DATE]
           ,[CS BORR ORIG CREDIT QLTY CODE]
           ,[CS BORR CREDIT QUALITY CODE]
           ,[CS BORR CREDIT QUALITY DATE]
           ,[STREAMLINE]
           ,[SOURCE CHANNEL]
           ,[NOTE DATE]
           ,[MONTH FROM ORIGINATION]
           ,[IS COMPARE]
           ,[IS EOM]
           ,[SIXTY]
           ,[NINETY]
           ,[BDE LOAD]
           ,[MSP LOAD]
           ,[LOAN DATE]
           ,[IS_COMPARE_YEAR]
           ,[proper_status]
           ,[owner_name]
           ,[iv_cat_cd])
select  [LOAN NUMBER]
           ,[OLD LOAN NUMBER]
           ,[INVESTOR ID]
           ,[ARM INDICATOR]
           ,[LO TYPE]
           ,[ORIGINAL LO TYPE]
           ,[FIRST PRINCIPAL BALANCE]
           ,[FIRST P AND I AMOUNT]
           ,[SUSPENSE BALANCE]
           ,[LOAN LOSS MIT STATUS CODE]
           ,[MAN CODE]
           ,[MSP DLQ STATUS]
           ,[MTH STATUS NAME]
           ,[NEXT PAYMENT DUE DATE]
           ,[CS BORR ORIG CREDIT QLTY CODE]
           ,[CS BORR CREDIT QUALITY CODE]
           ,[CS BORR CREDIT QUALITY DATE]
           ,[STREAMLINE]
           ,[SOURCE CHANNEL]
           ,[NOTE DATE]
           ,[MONTH FROM ORIGINATION]
           ,[IS COMPARE]
           ,[IS EOM]
           ,[SIXTY]
           ,[NINETY]
           ,[BDE LOAD]
           ,[MSP LOAD]
           ,[LOAN DATE]
           ,[IS_COMPARE_YEAR]
           ,[proper_status]
           ,[owner_name]
           ,[iv_cat_cd]
	   FROM  [10.0.15.10].bdesime.dbo.delinquency_snapshot
WHERE [Loan Date] IN ('11/30/2016','12/31/2016','1/31/2017')

